@import url('https://fonts.googleapis.com/css2?family=Estonia&family=Source+Code+Pro&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(255, 255, 255);
    color: black;
    font-family: 'poppins', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    height: 100vh;
    padding: 1.2rem;
    overflow-y: hidden;
}

.playground{
    display: flex;
    height: 80vh;
    width: 80%;
    max-height: 90vh;

    /* background-color: rgb(152, 108, 255);
    border: 5px dashed rgb(121, 48, 255); */
    border-radius: 5px;

    justify-content: center;
    align-items: center;
    
    font-size: 27px;
    padding: 30px;

    color: white;
    font-family: "Times New Roman", Times, serif;
    /* font-family: 'Source Code Pro'; */
    /* font-family:'Estonia'; */
    
    background-position: center;
    position: relative;
    box-shadow: 1px 3px 20px 1px black;
}

.bottom{
    display: flex;
    height: 10vh;
    justify-content: space-around;
}

.tab{
    display: inherit;
    justify-content: space-between;
    width: 320px;

    padding: 10px;
    background-color: #e5d1ff;
    border-radius: 5px;
    backdrop-filter: blur(1px);

    border: 1px solid rgba(255, 255, 255, 0.397);
    box-shadow: 1px 3px 10px 2px black;
}

.btn{
    /* background-color: rgb(173, 129, 255); */
    background-color: #d4b4ff;
    border: 1px solid rgba(255, 255, 255, 0.438);
    border-radius: 5px;
    margin: 2px;
    padding: 1rem;

    max-width: 80px;
    max-height: 80px;

    display: flex;
    justify-content: center;
    align-items: center;

    color: black;
    font-size: 15px;
    box-shadow: 2px 2px 5px  black inset,
                -2px -2px 8px white inset;
}

.btn:active{
    transform: translate(0,3px)
}

.rainbow{
    animation: rainbow 3s infinite forwards;
}

@keyframes rainbow {
    0%{
        filter: hue-rotate(0deg);
    }
    100%{
        filter: hue-rotate(789deg);
    }
}


@media only screen and (max-width: 600px){
    body{
        padding: 5px;
        justify-content: space-around;
    }
    .playground{
        display: flex;
        height: 80vh;
        width: 100%;
        margin: 0 0 1rem 0;
    }
    .bottom{
        position: absolute;
        bottom: 0;
       
    }
    .bottom,.tab{
        width: 100%;
        justify-content: space-evenly;
        border-radius: 0;
        border: none;
        box-shadow: none;
    }

    .btn{
        border: none;
        background-color: #cfbce5;
        font: bolder;

        box-shadow: 1px 1px 3px  black inset,
                -1px -1px 5px white inset;
    }
}